
@model List<String>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)
        </dt>

    </dl>
</div>

@foreach (var item in Model)
{
    <div>
        @item
        <hr />
    </div>
}

