@model IEnumerable<MvcFood.Models.FoodNutrients>



@{
    ViewData["Title"] = "Food Nutrition Details";
}



<h1>Nutrition Details</h1>



<table class="table table-striped">
    <tr>
        <td>Nutrient Name</td>
        <td>Value</td>
        <td>Units</td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.nutrientvm.nutrientName</td>
            <td>@item.foodvm.value</td>
            <td>@item.foodvm.unitName</td>

        </tr>
    }
</table>