@model MvcFood.Models.Foodresults

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    
</div>
<form asp-controller="Foods" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
       @* <input type="submit" value="Filter" />*@
    </p>
</form>
@* @foreach(MvcFood.Models.FoodApi result in Model.foodsapi)
{
    @(result.description)
    <br />
}  *@
<p>
    <a asp-action="Display">Next</a>
</p>

@*@foreach( FoodNutrition.Models.Food result in Model.foods)
{
    @(result.description)
    <br />
}*@