@{
    ViewData["Title"] = "About Page";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>


<body style="background: rgb(233,223, 208)">
      
            <div class="page-container">
                <div class="content-wrap">
                    <!-- Nav Bar -->
                    <div id="nav-bar"></div>
                    <!--  -->

                    <h2 class="about">About us</h2>
                    <div class="container">
                        <div class="row">

                            <div class="flex-item">

                                <img src="~/images/nihith.png" class="card-img-top about-img" alt="Nihith Image" width="500" height="350">
                                <h2>Nihith Tej Gajelli</h2>
                                <div>

                                    <p>
                                        Aspiring data engineer  with professional IT experience of 4 years.<br />
                                        My contributions for project include searching the api, designed database, created model, scaffolded database, created crud operations, written controller logics, created basic views and cshtml pages, consumed api to populate the database, created charts using chart.js to display on webpage and deployed to cloud.

                                    </p>


                                </div>
                            </div>


                            <div class="flex-item">
                                <img src="~/images/prasad-1.jpg" class="card-img-top about-img" alt="Prasad Image" width="500" height="350">
                                <h2>Prasad Hegde</h2>
                                <div>


                                    <p>
                                        Currently pursuing Master's in Business Analytics and Information Systems at University of South Florida.<br />
                                        Built Find your food page, about us page and displaying tabular data.
                                        Passionate About Data Science.
                                        My contributions are built ERD diagram in visio, enhanced view pages and helped with controller logic.
                                    </p>
                                </div>
                            </div>


                            <div class="flex-item">
                                <img src="~/images/sharat-1.jpeg" class="card-img-top about-img" alt="Sharat Image" width="500" height="350">
                                <h2>Sharat</h2>
                                <div>

                                    <p>
                                        Currently pursuing Master's in Business Analytics and Information Systems at University of South Florida.
                                        
                                        
                                    </p>
                                </div>
                            </div>

                        </div>
                         <div class="center mt-5">
                            <h2 style="color:darkslategrey ;" class="center mb-5">ER Diagrams</h2>
                            <img src="~/images/erd.png" class="img-fluid" alt="ER diagram">

                        </div>
                        <h2>API Endpoints</h2>
                        <a href="https://api.nal.usda.gov/fdc/v1/">https://api.nal.usda.gov/fdc/v1/</a>
                        <h2>GitHub Link</h2>
                        <a href="https://github.com/nihithtej/Foodproject">https://github.com/nihithtej/Foodproject</a>
                        <h2>Nihith Tej Commits</h2>
                        <p>
                            

                           git log --author="Nihith Tej" --pretty=tformat: --numstat
17	26	MvcFood/Views/Foods/Create.cshtml
1	1	MvcFood/Views/Foods/Delete.cshtml
2	1	MvcFood/Views/Foods/Details.cshtml
11	4	MvcFood/Views/Foods/Display.cshtml
1	1	MvcFood/Views/Foods/Edit.cshtml
9	5	MvcFood/Views/Foods/Index.cshtml
5	3	MvcFood/Views/Home/Index.cshtml
17	6	MvcFood/Views/Home/Privacy.cshtml
50	14	MvcFood/Controllers/FoodsController.cs
21	7	MvcFood/Views/Foods/Create.cshtml
59	11	MvcFood/Controllers/FoodsController.cs
7	2	MvcFood/Views/Foods/Create.cshtml
1	1	MvcFood/Views/Foods/Delete.cshtml
1	1	MvcFood/Views/Foods/Display.cshtml
1	1	MvcFood/Views/Foods/Edit.cshtml
8	6	MvcFood/Controllers/FoodsController.cs
1	4	MvcFood/Migrations/{20220501002119_InitialCreate.Designer.cs => 20220501035313_InitialCreate.Designer.cs}
1	2	MvcFood/Migrations/{20220501002119_InitialCreate.cs => 20220501035313_InitialCreate.cs}
0	3	MvcFood/Migrations/MvcFoodContextModelSnapshot.cs
64	14	MvcFood/Controllers/FoodsController.cs
3	3	MvcFood/Data/MvcFoodContext.cs
12	12	MvcFood/Migrations/{20220429172036_InitialCreate.Designer.cs => 20220501002119_InitialCreate.Designer.cs}
17	17	MvcFood/Migrations/{20220429172036_InitialCreate.cs => 20220501002119_InitialCreate.cs}
11	11	MvcFood/Migrations/MvcFoodContextModelSnapshot.cs
7	7	MvcFood/Models/EF_Models.cs
2	2	MvcFood/Models/Nutrients.cs
11	11	MvcFood/Models/SeedData.cs
4	0	MvcFood/MvcFood.csproj
1	1	MvcFood/Views/Foods/Create.cshtml
1	1	MvcFood/Views/Foods/Display.cshtml
20	32	MvcFood/Views/Foods/Index.cshtml
92	16	MvcFood/Controllers/FoodsController.cs
1	1	MvcFood/Models/EF_Models.cs
28	0	MvcFood/Models/Foodresults.cs
16	16	MvcFood/Models/SeedData.cs
42	0	MvcFood/Views/Foods/Display.cshtml
50	4	MvcFood/Views/Home/Index.cshtml
73	5	MvcFood/Views/Home/Privacy.cshtml
-	-	MvcFood/Views/Home/images/nihith.png
-	-	MvcFood/Views/Home/images/prasad-1.jpg
-	-	MvcFood/Views/Home/images/sharat-1.jpeg
7	8	MvcFood/Views/Shared/_Layout.cshtml
206	49	MvcFood/wwwroot/css/site.css
-	-	MvcFood/wwwroot/images/logo.jpg
-	-	MvcFood/wwwroot/images/nihith.png
-	-	MvcFood/wwwroot/images/nutirents_six.png
-	-	MvcFood/wwwroot/images/prasad-1.jpg
-	-	MvcFood/wwwroot/images/sharat-1.jpeg
3	3	MvcFood/Views/Foods/Details.cshtml
17	5	MvcFood/Controllers/FoodsController.cs
1	1	MvcFood/Models/Nutrients.cs
1	1	MvcFood/Views/Foods/Details.cshtml
31	5	MvcFood/Controllers/FoodsController.cs
7	0	MvcFood/Models/Nutrients.cs
31	8	MvcFood/Views/Foods/Details.cshtml
14	10	MvcFood/Controllers/FoodsController.cs
5	5	MvcFood/Models/Nutrients.cs
26	23	MvcFood/Views/Foods/Details.cshtml
3	3	MvcFood.sln
31	6	MvcFood/Controllers/FoodsController.cs
18	0	MvcFood/Models/Nutrients.cs
14	10	MvcFood/Views/Foods/Details.cshtml
7	0	MvcFood/Views/Foods/Index.cshtml
25	0	MvcFood.sln
153	0	MvcFood/Controllers/FoodsController.cs
37	0	MvcFood/Controllers/HomeController.cs
21	0	MvcFood/Data/MvcFoodContext.cs
112	0	MvcFood/Migrations/20220429172036_InitialCreate.Designer.cs
87	0	MvcFood/Migrations/20220429172036_InitialCreate.cs
110	0	MvcFood/Migrations/MvcFoodContextModelSnapshot.cs
41	0	MvcFood/Models/EF_Models.cs
11	0	MvcFood/Models/ErrorViewModel.cs
47	0	MvcFood/Models/SeedData.cs
16	0	MvcFood/MvcFood.csproj
43	0	MvcFood/Program.cs
28	0	MvcFood/Properties/launchSettings.json
8	0	MvcFood/Properties/serviceDependencies.json
8	0	MvcFood/Properties/serviceDependencies.local.json
62	0	MvcFood/Startup.cs
33	0	MvcFood/Views/Foods/Create.cshtml
27	0	MvcFood/Views/Foods/Delete.cshtml
24	0	MvcFood/Views/Foods/Details.cshtml
34	0	MvcFood/Views/Foods/Edit.cshtml
35	0	MvcFood/Views/Foods/Index.cshtml
8	0	MvcFood/Views/Home/Index.cshtml
6	0	MvcFood/Views/Home/Privacy.cshtml
25	0	MvcFood/Views/Shared/Error.cshtml
48	0	MvcFood/Views/Shared/_Layout.cshtml
2	0	MvcFood/Views/Shared/_ValidationScriptsPartial.cshtml
3	0	MvcFood/Views/_ViewImports.cshtml
3	0	MvcFood/Views/_ViewStart.cshtml
9	0	MvcFood/appsettings.Development.json
13	0	MvcFood/appsettings.json
71	0	MvcFood/wwwroot/css/site.css
-	-	MvcFood/wwwroot/favicon.ico
4	0	MvcFood/wwwroot/js/site.js
22	0	MvcFood/wwwroot/lib/bootstrap/LICENSE
3719	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
7	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
331	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
8	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
10038	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap.css
1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
7	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
7013	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
1	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
7	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
1	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
4435	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.js
1	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
7	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
1	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
12	0	MvcFood/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
432	0	MvcFood/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
5	0	MvcFood/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
22	0	MvcFood/wwwroot/lib/jquery-validation/LICENSE.md
1158	0	MvcFood/wwwroot/lib/jquery-validation/dist/additional-methods.js
4	0	MvcFood/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
1601	0	MvcFood/wwwroot/lib/jquery-validation/dist/jquery.validate.js
4	0	MvcFood/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
36	0	MvcFood/wwwroot/lib/jquery/LICENSE.txt
10872	0	MvcFood/wwwroot/lib/jquery/dist/jquery.js
2	0	MvcFood/wwwroot/lib/jquery/dist/jquery.min.js
1	0	MvcFood/wwwroot/lib/jquery/dist/jquery.min.map
63	0	.gitattributes
363	0	.gitignore

                        </p>
                    </body>
                    </html>