@{
    ViewData["Title"] = "About Page";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>


<body style="background: rgb(233,223, 208)">
      
            <div class="page-container">
                <div class="content-wrap">
                    <!-- Nav Bar -->
                    <div id="nav-bar"></div>
                    <!--  -->

                    <h2 class="about">About us</h2>
                    <div class="container">
                        <div class="row">

                            <div class="flex-item">

                                <img src="~/images/nihith.png" class="card-img-top about-img" alt="Nihith Image" width="500" height="350">
                                <h2>Nihith Tej Gajelli</h2>
                                <div>

                                    <p>
                                        Aspiring data engineer  with professional IT experience of 4 years.<br />
                                        <b>My contributions for project include searching the api, designed database, created model, scaffolded database, created crud operations, written controller logics, created basic views and cshtml pages, consumed api to populate the database, created charts using chart.js to display on webpage and deployed to cloud.
</b>

                                    </p>


                                </div>
                            </div>


                            <div class="flex-item">
                                <img src="~/images/prasad-1.jpg" class="card-img-top about-img" alt="Prasad Image" width="500" height="350">
                                <h2>Prasad Hegde</h2>
                                <div>


                                    <p>
                                        Currently pursuing Master's in Business Analytics and Information Systems at University of South Florida.<br />
                                        
                                        <b>My contributions are built ERD diagram in visio, enhanced view pages and helped with controller logic.
                                    </b>
									</p>
                                </div>
                            </div>


                            <div class="flex-item">
                                <img src="~/images/sharat-1.jpeg" class="card-img-top about-img" alt="Sharat Image" width="500" height="350">
                                <h2>Sharat</h2>
                                <div>

                                    <p>
                                        Currently pursuing Master's in Business Analytics and Information Systems at University of South Florida.
                                        
                                    </p>
                                </div>
                            </div>

                        </div>
                         <div class="center mt-5">
                            <h2 style="color:darkslategrey ;" class="center mb-5">ER Diagrams</h2>
                            <img src="~/images/erd.png" class="img-fluid" alt="ER diagram">

                        </div>
                        <h2>API Endpoints</h2>
                        <a href="https://api.nal.usda.gov/fdc/v1/">https://api.nal.usda.gov/fdc/v1/</a>
						<h2>GitHub Link</h2>
                        <a href="https://github.com/nihithtej/Foodproject">https://github.com/nihithtej/Foodproject</a>
						<h2>Nihith Tej Commits</h2>
						<p>
                            

                           
							git log --author="Nihith Tej" --pretty=tformat: --numstat<br />
							17	26	MvcFood/Views/Foods/Create.cshtml<br />
							1	1	MvcFood/Views/Foods/Delete.cshtml<br />
							2	1	MvcFood/Views/Foods/Details.cshtml<br />
							11	4	MvcFood/Views/Foods/Display.cshtml<br />
							1	1	MvcFood/Views/Foods/Edit.cshtml<br />
							9	5	MvcFood/Views/Foods/Index.cshtml<br />
							5	3	MvcFood/Views/Home/Index.cshtml<br />
							17	6	MvcFood/Views/Home/Privacy.cshtml<br />
							50	14	MvcFood/Controllers/FoodsController.cs<br />
							21	7	MvcFood/Views/Foods/Create.cshtml<br />
							59	11	MvcFood/Controllers/FoodsController.cs<br />
							7	2	MvcFood/Views/Foods/Create.cshtml<br />
							1	1	MvcFood/Views/Foods/Delete.cshtml<br />
							1	1	MvcFood/Views/Foods/Display.cshtml<br />
							1	1	MvcFood/Views/Foods/Edit.cshtml<br />
							8	6	MvcFood/Controllers/FoodsController.cs<br />
							1	4	MvcFood/Migrations/{20220501002119_InitialCreate.Designer.cs => 20220501035313_InitialCreate.Designer.cs}<br />
							1	2	MvcFood/Migrations/{20220501002119_InitialCreate.cs => 20220501035313_InitialCreate.cs}<br />
							0	3	MvcFood/Migrations/MvcFoodContextModelSnapshot.cs<br />
							64	14	MvcFood/Controllers/FoodsController.cs<br />
							3	3	MvcFood/Data/MvcFoodContext.cs<br />
							12	12	MvcFood/Migrations/{20220429172036_InitialCreate.Designer.cs => 20220501002119_InitialCreate.Designer.cs}<br />
							17	17	MvcFood/Migrations/{20220429172036_InitialCreate.cs => 20220501002119_InitialCreate.cs}<br />
							11	11	MvcFood/Migrations/MvcFoodContextModelSnapshot.cs<br />
							7	7	MvcFood/Models/EF_Models.cs<br />
							2	2	MvcFood/Models/Nutrients.cs<br />
							11	11	MvcFood/Models/SeedData.cs<br />
							4	0	MvcFood/MvcFood.csproj<br />
							1	1	MvcFood/Views/Foods/Create.cshtml<br />
							1	1	MvcFood/Views/Foods/Display.cshtml<br />
							20	32	MvcFood/Views/Foods/Index.cshtml<br />
							92	16	MvcFood/Controllers/FoodsController.cs<br />
							1	1	MvcFood/Models/EF_Models.cs<br />
							28	0	MvcFood/Models/Foodresults.cs<br />
							16	16	MvcFood/Models/SeedData.cs<br />
							42	0	MvcFood/Views/Foods/Display.cshtml<br />
							50	4	MvcFood/Views/Home/Index.cshtml<br />
							73	5	MvcFood/Views/Home/Privacy.cshtml<br />
							-	-	MvcFood/Views/Home/images/nihith.png<br />
							-	-	MvcFood/Views/Home/images/prasad-1.jpg<br />
							-	-	MvcFood/Views/Home/images/sharat-1.jpeg<br />
							7	8	MvcFood/Views/Shared/_Layout.cshtml<br />
							206	49	MvcFood/wwwroot/css/site.css<br />
							-	-	MvcFood/wwwroot/images/logo.jpg<br />
							-	-	MvcFood/wwwroot/images/nihith.png<br />
							-	-	MvcFood/wwwroot/images/nutirents_six.png<br />
							-	-	MvcFood/wwwroot/images/prasad-1.jpg<br />
							-	-	MvcFood/wwwroot/images/sharat-1.jpeg<br />
							3	3	MvcFood/Views/Foods/Details.cshtml<br />
							17	5	MvcFood/Controllers/FoodsController.cs<br />
							1	1	MvcFood/Models/Nutrients.cs<br />
							1	1	MvcFood/Views/Foods/Details.cshtml<br />
							31	5	MvcFood/Controllers/FoodsController.cs<br />
							7	0	MvcFood/Models/Nutrients.cs<br />
							31	8	MvcFood/Views/Foods/Details.cshtml<br />
							14	10	MvcFood/Controllers/FoodsController.cs<br />
							5	5	MvcFood/Models/Nutrients.cs<br />
							26	23	MvcFood/Views/Foods/Details.cshtml<br />
							3	3	MvcFood.sln<br />
							31	6	MvcFood/Controllers/FoodsController.cs<br />
							18	0	MvcFood/Models/Nutrients.cs<br />
							14	10	MvcFood/Views/Foods/Details.cshtml<br />
							7	0	MvcFood/Views/Foods/Index.cshtml<br />
							25	0	MvcFood.sln<br />
							153	0	MvcFood/Controllers/FoodsController.cs<br />
							37	0	MvcFood/Controllers/HomeController.cs<br />
							21	0	MvcFood/Data/MvcFoodContext.cs<br />
							112	0	MvcFood/Migrations/20220429172036_InitialCreate.Designer.cs<br />
							87	0	MvcFood/Migrations/20220429172036_InitialCreate.cs<br />
							110	0	MvcFood/Migrations/MvcFoodContextModelSnapshot.cs<br />
							41	0	MvcFood/Models/EF_Models.cs<br />
							11	0	MvcFood/Models/ErrorViewModel.cs<br />
							47	0	MvcFood/Models/SeedData.cs<br />
							16	0	MvcFood/MvcFood.csproj<br />
							43	0	MvcFood/Program.cs<br />
							28	0	MvcFood/Properties/launchSettings.json<br />
							8	0	MvcFood/Properties/serviceDependencies.json<br />
							8	0	MvcFood/Properties/serviceDependencies.local.json<br />
							62	0	MvcFood/Startup.cs<br />
							33	0	MvcFood/Views/Foods/Create.cshtml<br />
							27	0	MvcFood/Views/Foods/Delete.cshtml<br />
							24	0	MvcFood/Views/Foods/Details.cshtml<br />
							34	0	MvcFood/Views/Foods/Edit.cshtml<br />
							35	0	MvcFood/Views/Foods/Index.cshtml<br />
							8	0	MvcFood/Views/Home/Index.cshtml<br />
							6	0	MvcFood/Views/Home/Privacy.cshtml<br />
							25	0	MvcFood/Views/Shared/Error.cshtml<br />
							48	0	MvcFood/Views/Shared/_Layout.cshtml<br />
							2	0	MvcFood/Views/Shared/_ValidationScriptsPartial.cshtml<br />
							3	0	MvcFood/Views/_ViewImports.cshtml<br />
							3	0	MvcFood/Views/_ViewStart.cshtml<br />
							9	0	MvcFood/appsettings.Development.json<br />
							13	0	MvcFood/appsettings.json<br />
							71	0	MvcFood/wwwroot/css/site.css<br />
							-	-	MvcFood/wwwroot/favicon.ico<br />
							4	0	MvcFood/wwwroot/js/site.js<br />
							22	0	MvcFood/wwwroot/lib/bootstrap/LICENSE<br />
							3719	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map<br />
							7	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map<br />
							331	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map<br />
							8	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map<br />
							10038	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap.css<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map<br />
							7	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map<br />
							7013	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map<br />
							7	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map<br />
							4435	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.js<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map<br />
							7	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js<br />
							1	0	MvcFood/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map<br />
							12	0	MvcFood/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt<br />
							432	0	MvcFood/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js<br />
							5	0	MvcFood/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js<br />
							22	0	MvcFood/wwwroot/lib/jquery-validation/LICENSE.md<br />
							1158	0	MvcFood/wwwroot/lib/jquery-validation/dist/additional-methods.js<br />
							4	0	MvcFood/wwwroot/lib/jquery-validation/dist/additional-methods.min.js<br />
							1601	0	MvcFood/wwwroot/lib/jquery-validation/dist/jquery.validate.js<br />
							4	0	MvcFood/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js<br />
							36	0	MvcFood/wwwroot/lib/jquery/LICENSE.txt<br />
							10872	0	MvcFood/wwwroot/lib/jquery/dist/jquery.js<br />
							2	0	MvcFood/wwwroot/lib/jquery/dist/jquery.min.js<br />
							1	0	MvcFood/wwwroot/lib/jquery/dist/jquery.min.map<br />
							63	0	.gitattributes<br />
							363	0	.gitignore<br />
                        </p>
                    </body>
                    </html>